<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localData</key>
	<array>
		<dict>
			<key>shengname</key>
			<string>北京</string>
			<key>shengcode</key>
			<string>2</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>北京</string>
					<key>citycode</key>
					<string>500000</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>湖北</string>
			<key>shengcode</key>
			<string>500447</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>武汉市</string>
					<key>citycode</key>
					<string>500448</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黄石市</string>
					<key>citycode</key>
					<string>500449</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>襄樊市</string>
					<key>citycode</key>
					<string>500450</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>十堰市</string>
					<key>citycode</key>
					<string>500451</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>荆州市</string>
					<key>citycode</key>
					<string>500452</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宜昌市</string>
					<key>citycode</key>
					<string>500453</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>荆门市</string>
					<key>citycode</key>
					<string>500454</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鄂州市</string>
					<key>citycode</key>
					<string>500455</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黄冈市</string>
					<key>citycode</key>
					<string>500456</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>咸宁市</string>
					<key>citycode</key>
					<string>500457</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>随州市</string>
					<key>citycode</key>
					<string>500458</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>恩施州</string>
					<key>citycode</key>
					<string>500459</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>省直辖</string>
					<key>citycode</key>
					<string>500460</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>孝感市</string>
					<key>citycode</key>
					<string>500461</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>广东</string>
			<key>shengcode</key>
			<string>501310</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>广州市</string>
					<key>citycode</key>
					<string>501311</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>深圳市</string>
					<key>citycode</key>
					<string>501312</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>珠海市</string>
					<key>citycode</key>
					<string>501313</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>汕头市</string>
					<key>citycode</key>
					<string>501314</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>佛山市</string>
					<key>citycode</key>
					<string>501315</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>韶关市</string>
					<key>citycode</key>
					<string>501316</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>河源市</string>
					<key>citycode</key>
					<string>501317</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>梅州市</string>
					<key>citycode</key>
					<string>501318</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>惠州市</string>
					<key>citycode</key>
					<string>501319</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>汕尾市</string>
					<key>citycode</key>
					<string>501320</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>东莞市</string>
					<key>citycode</key>
					<string>501321</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>中山市</string>
					<key>citycode</key>
					<string>501322</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>江门市</string>
					<key>citycode</key>
					<string>501323</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阳江市</string>
					<key>citycode</key>
					<string>501324</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>湛江市</string>
					<key>citycode</key>
					<string>501325</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>茂名市</string>
					<key>citycode</key>
					<string>501326</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>肇庆市</string>
					<key>citycode</key>
					<string>501327</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>清远市</string>
					<key>citycode</key>
					<string>501328</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>潮州市</string>
					<key>citycode</key>
					<string>501329</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>揭阳市</string>
					<key>citycode</key>
					<string>501330</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>云浮市</string>
					<key>citycode</key>
					<string>501331</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>内蒙</string>
			<key>shengcode</key>
			<string>501840</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>呼和浩特市</string>
					<key>citycode</key>
					<string>501841</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>包头市</string>
					<key>citycode</key>
					<string>501842</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>乌海市</string>
					<key>citycode</key>
					<string>501843</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>赤峰市</string>
					<key>citycode</key>
					<string>501844</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>通辽市</string>
					<key>citycode</key>
					<string>501845</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鄂尔多斯市</string>
					<key>citycode</key>
					<string>501846</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>呼伦贝尔市</string>
					<key>citycode</key>
					<string>501847</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>巴彦淖尔市</string>
					<key>citycode</key>
					<string>501848</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>乌兰察布市</string>
					<key>citycode</key>
					<string>501849</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>兴安盟</string>
					<key>citycode</key>
					<string>501850</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>锡林郭勒盟</string>
					<key>citycode</key>
					<string>501851</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阿拉善盟</string>
					<key>citycode</key>
					<string>501852</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>湖南</string>
			<key>shengcode</key>
			<string>501954</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>长沙市</string>
					<key>citycode</key>
					<string>501955</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>株洲市</string>
					<key>citycode</key>
					<string>501956</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>湘潭市</string>
					<key>citycode</key>
					<string>501957</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>衡阳市</string>
					<key>citycode</key>
					<string>501958</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>邵阳市</string>
					<key>citycode</key>
					<string>501959</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>岳阳市</string>
					<key>citycode</key>
					<string>501960</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>常德市</string>
					<key>citycode</key>
					<string>501961</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>张家界市</string>
					<key>citycode</key>
					<string>501962</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>益阳市</string>
					<key>citycode</key>
					<string>501963</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>郴州市</string>
					<key>citycode</key>
					<string>501964</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>永州市</string>
					<key>citycode</key>
					<string>501965</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>怀化市</string>
					<key>citycode</key>
					<string>501966</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>娄底市</string>
					<key>citycode</key>
					<string>501967</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>湘西州</string>
					<key>citycode</key>
					<string>501968</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>山东</string>
			<key>shengcode</key>
			<string>500038</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>济南市</string>
					<key>citycode</key>
					<string>500039</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>青岛市</string>
					<key>citycode</key>
					<string>500050</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>淄博市</string>
					<key>citycode</key>
					<string>500063</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>枣庄市</string>
					<key>citycode</key>
					<string>500072</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>东营市</string>
					<key>citycode</key>
					<string>500079</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>烟台市</string>
					<key>citycode</key>
					<string>500080</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>潍坊市</string>
					<key>citycode</key>
					<string>500081</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>济宁市</string>
					<key>citycode</key>
					<string>500082</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>泰安市</string>
					<key>citycode</key>
					<string>500083</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>威海市</string>
					<key>citycode</key>
					<string>500084</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>日照市</string>
					<key>citycode</key>
					<string>500085</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>莱芜市</string>
					<key>citycode</key>
					<string>500086</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>临沂市</string>
					<key>citycode</key>
					<string>500087</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>德州市</string>
					<key>citycode</key>
					<string>500088</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>聊城市</string>
					<key>citycode</key>
					<string>500089</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>滨州市</string>
					<key>citycode</key>
					<string>500090</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>菏泽市</string>
					<key>citycode</key>
					<string>500091</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>上海</string>
			<key>shengcode</key>
			<string>4</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>上海</string>
					<key>citycode</key>
					<string>501218</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>江苏</string>
			<key>shengcode</key>
			<string>500327</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>南京市</string>
					<key>citycode</key>
					<string>500328</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>无锡市</string>
					<key>citycode</key>
					<string>500329</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>徐州市</string>
					<key>citycode</key>
					<string>500330</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>常州市</string>
					<key>citycode</key>
					<string>500331</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>苏州市</string>
					<key>citycode</key>
					<string>500332</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>南通市</string>
					<key>citycode</key>
					<string>500333</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>连云港市</string>
					<key>citycode</key>
					<string>500334</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>淮安市</string>
					<key>citycode</key>
					<string>500335</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>盐城市</string>
					<key>citycode</key>
					<string>500336</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>扬州市</string>
					<key>citycode</key>
					<string>500337</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>镇江市</string>
					<key>citycode</key>
					<string>500338</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>泰州市</string>
					<key>citycode</key>
					<string>500339</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宿迁市</string>
					<key>citycode</key>
					<string>500340</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>天津</string>
			<key>shengcode</key>
			<string>3</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>天津</string>
					<key>citycode</key>
					<string>500019</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>山西</string>
			<key>shengcode</key>
			<string>500196</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>太原市</string>
					<key>citycode</key>
					<string>500197</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>大同市</string>
					<key>citycode</key>
					<string>500198</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阳泉市</string>
					<key>citycode</key>
					<string>500199</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>长治市</string>
					<key>citycode</key>
					<string>500200</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>晋城市</string>
					<key>citycode</key>
					<string>500201</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>朔州市</string>
					<key>citycode</key>
					<string>500202</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>忻州地区</string>
					<key>citycode</key>
					<string>500203</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>晋中地区</string>
					<key>citycode</key>
					<string>500204</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>吕梁地区</string>
					<key>citycode</key>
					<string>500205</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>临汾地区</string>
					<key>citycode</key>
					<string>500206</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>运城地区</string>
					<key>citycode</key>
					<string>500207</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>浙江</string>
			<key>shengcode</key>
			<string>500963</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>丽水市</string>
					<key>citycode</key>
					<string>500964</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宁波市</string>
					<key>citycode</key>
					<string>500965</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>温州市</string>
					<key>citycode</key>
					<string>500966</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>嘉兴市</string>
					<key>citycode</key>
					<string>500967</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>湖州市</string>
					<key>citycode</key>
					<string>500968</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>绍兴市</string>
					<key>citycode</key>
					<string>500969</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>金华市</string>
					<key>citycode</key>
					<string>500970</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>衢州市</string>
					<key>citycode</key>
					<string>500971</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>舟山市</string>
					<key>citycode</key>
					<string>500972</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>杭州市</string>
					<key>citycode</key>
					<string>500973</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>台州市</string>
					<key>citycode</key>
					<string>500974</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>四川</string>
			<key>shengcode</key>
			<string>502279</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>成都市</string>
					<key>citycode</key>
					<string>502280</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>自贡市</string>
					<key>citycode</key>
					<string>502281</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>攀枝花市</string>
					<key>citycode</key>
					<string>502282</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>泸州市</string>
					<key>citycode</key>
					<string>502283</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>德阳市</string>
					<key>citycode</key>
					<string>502284</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>绵阳市</string>
					<key>citycode</key>
					<string>502285</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>广元市</string>
					<key>citycode</key>
					<string>502286</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>遂宁市</string>
					<key>citycode</key>
					<string>502287</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>内江市</string>
					<key>citycode</key>
					<string>502288</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>乐山市</string>
					<key>citycode</key>
					<string>502289</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>南充市</string>
					<key>citycode</key>
					<string>502290</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宜宾市</string>
					<key>citycode</key>
					<string>502291</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>广安市</string>
					<key>citycode</key>
					<string>502292</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>达州市</string>
					<key>citycode</key>
					<string>502293</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>眉山市</string>
					<key>citycode</key>
					<string>502294</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>雅安市</string>
					<key>citycode</key>
					<string>502295</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>巴中市</string>
					<key>citycode</key>
					<string>502296</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>资阳市</string>
					<key>citycode</key>
					<string>502297</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阿坝州</string>
					<key>citycode</key>
					<string>502298</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>甘孜州</string>
					<key>citycode</key>
					<string>502299</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>凉山州</string>
					<key>citycode</key>
					<string>502300</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>贵州</string>
			<key>shengcode</key>
			<string>502482</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>贵阳市</string>
					<key>citycode</key>
					<string>502483</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>六盘水市</string>
					<key>citycode</key>
					<string>502484</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>遵义市</string>
					<key>citycode</key>
					<string>502485</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>安顺市</string>
					<key>citycode</key>
					<string>502486</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>铜仁地区</string>
					<key>citycode</key>
					<string>502487</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>毕节地区</string>
					<key>citycode</key>
					<string>502488</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黔西南州</string>
					<key>citycode</key>
					<string>502489</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黔东南州</string>
					<key>citycode</key>
					<string>502490</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黔南州</string>
					<key>citycode</key>
					<string>502491</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>云南</string>
			<key>shengcode</key>
			<string>502580</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>昆明市</string>
					<key>citycode</key>
					<string>502581</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>曲靖市</string>
					<key>citycode</key>
					<string>502582</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>玉溪市</string>
					<key>citycode</key>
					<string>502583</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>保山市</string>
					<key>citycode</key>
					<string>502584</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>昭通市</string>
					<key>citycode</key>
					<string>502585</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>丽江市</string>
					<key>citycode</key>
					<string>502586</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>普洱市</string>
					<key>citycode</key>
					<string>502587</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>临沧市</string>
					<key>citycode</key>
					<string>502588</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>文山州</string>
					<key>citycode</key>
					<string>502589</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>红河州</string>
					<key>citycode</key>
					<string>502590</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>西双版纳州</string>
					<key>citycode</key>
					<string>502591</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>楚雄州</string>
					<key>citycode</key>
					<string>502592</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>大理州</string>
					<key>citycode</key>
					<string>502593</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>德宏州</string>
					<key>citycode</key>
					<string>502594</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>怒江州</string>
					<key>citycode</key>
					<string>502595</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>迪庆州</string>
					<key>citycode</key>
					<string>502596</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>陕西</string>
			<key>shengcode</key>
			<string>502808</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>西安市</string>
					<key>citycode</key>
					<string>502809</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>铜川市</string>
					<key>citycode</key>
					<string>502810</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宝鸡市</string>
					<key>citycode</key>
					<string>502811</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>咸阳市</string>
					<key>citycode</key>
					<string>502812</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>渭南市</string>
					<key>citycode</key>
					<string>502813</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>延安市</string>
					<key>citycode</key>
					<string>502814</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>汉中市</string>
					<key>citycode</key>
					<string>502815</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>榆林市</string>
					<key>citycode</key>
					<string>502816</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>安康市</string>
					<key>citycode</key>
					<string>502817</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>商洛市</string>
					<key>citycode</key>
					<string>502818</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>甘肃</string>
			<key>shengcode</key>
			<string>502926</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>兰州市</string>
					<key>citycode</key>
					<string>502927</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>嘉峪关市</string>
					<key>citycode</key>
					<string>502928</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>金昌市</string>
					<key>citycode</key>
					<string>502929</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>白银市</string>
					<key>citycode</key>
					<string>502930</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>天水市</string>
					<key>citycode</key>
					<string>502931</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>武威市</string>
					<key>citycode</key>
					<string>502932</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>张掖市</string>
					<key>citycode</key>
					<string>502933</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>平凉市</string>
					<key>citycode</key>
					<string>502934</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>酒泉市</string>
					<key>citycode</key>
					<string>502935</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>庆阳市</string>
					<key>citycode</key>
					<string>502936</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>定西市</string>
					<key>citycode</key>
					<string>502937</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>陇南市</string>
					<key>citycode</key>
					<string>502938</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>临夏州</string>
					<key>citycode</key>
					<string>502939</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>甘南州</string>
					<key>citycode</key>
					<string>502940</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>宁夏</string>
			<key>shengcode</key>
			<string>503082</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>银川市</string>
					<key>citycode</key>
					<string>503083</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>石嘴山市</string>
					<key>citycode</key>
					<string>503084</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>吴忠市</string>
					<key>citycode</key>
					<string>503085</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>固原市</string>
					<key>citycode</key>
					<string>503086</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>中卫市</string>
					<key>citycode</key>
					<string>503087</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>河北</string>
			<key>shengcode</key>
			<string>500778</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>石家庄市</string>
					<key>citycode</key>
					<string>500779</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>唐山市</string>
					<key>citycode</key>
					<string>500780</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>秦皇岛市</string>
					<key>citycode</key>
					<string>500781</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>邯郸市</string>
					<key>citycode</key>
					<string>500782</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>邢台市</string>
					<key>citycode</key>
					<string>500783</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>保定市</string>
					<key>citycode</key>
					<string>500784</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>张家口市</string>
					<key>citycode</key>
					<string>500785</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>承德市</string>
					<key>citycode</key>
					<string>500786</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>沧州市</string>
					<key>citycode</key>
					<string>500787</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>廊坊市</string>
					<key>citycode</key>
					<string>500788</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>衡水市</string>
					<key>citycode</key>
					<string>500789</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>吉林</string>
			<key>shengcode</key>
			<string>501240</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>长春市</string>
					<key>citycode</key>
					<string>501241</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>吉林市</string>
					<key>citycode</key>
					<string>501242</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>四平市</string>
					<key>citycode</key>
					<string>501243</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>辽源市</string>
					<key>citycode</key>
					<string>501244</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>通化市</string>
					<key>citycode</key>
					<string>501245</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>白山市</string>
					<key>citycode</key>
					<string>501246</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>松原市</string>
					<key>citycode</key>
					<string>501247</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>白城市</string>
					<key>citycode</key>
					<string>501248</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>延吉市</string>
					<key>citycode</key>
					<string>501249</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>辽宁</string>
			<key>shengcode</key>
			<string>500565</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>沈阳</string>
					<key>citycode</key>
					<string>500566</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>大连</string>
					<key>citycode</key>
					<string>500567</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鞍山</string>
					<key>citycode</key>
					<string>500568</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鞍山</string>
					<key>citycode</key>
					<string>500568</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>抚顺</string>
					<key>citycode</key>
					<string>500569</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>本溪</string>
					<key>citycode</key>
					<string>500570</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>丹东</string>
					<key>citycode</key>
					<string>500571</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>辽阳</string>
					<key>citycode</key>
					<string>500572</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>营口</string>
					<key>citycode</key>
					<string>500573</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>朝阳</string>
					<key>citycode</key>
					<string>500574</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阜新</string>
					<key>citycode</key>
					<string>500575</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>盘锦</string>
					<key>citycode</key>
					<string>500576</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>锦州</string>
					<key>citycode</key>
					<string>500577</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>铁岭</string>
					<key>citycode</key>
					<string>500578</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>葫芦岛</string>
					<key>citycode</key>
					<string>500579</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>黑龙江</string>
			<key>shengcode</key>
			<string>500633</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>哈尔滨市</string>
					<key>citycode</key>
					<string>500634</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>齐齐哈尔市</string>
					<key>citycode</key>
					<string>500635</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鹤 岗 市</string>
					<key>citycode</key>
					<string>500636</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>双鸭山市</string>
					<key>citycode</key>
					<string>500637</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鸡 西 市</string>
					<key>citycode</key>
					<string>500638</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>大 庆 市</string>
					<key>citycode</key>
					<string>500639</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>伊 春 市</string>
					<key>citycode</key>
					<string>500640</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>牡丹江市</string>
					<key>citycode</key>
					<string>500641</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>佳木斯市</string>
					<key>citycode</key>
					<string>500642</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黑 河 市</string>
					<key>citycode</key>
					<string>500643</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>绥 化 市</string>
					<key>citycode</key>
					<string>500644</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>大兴安岭地区</string>
					<key>citycode</key>
					<string>500645</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>七台河市</string>
					<key>citycode</key>
					<string>500646</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>安徽</string>
			<key>shengcode</key>
			<string>501091</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>合肥市</string>
					<key>citycode</key>
					<string>501092</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>芜湖市</string>
					<key>citycode</key>
					<string>501093</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>蚌埠市</string>
					<key>citycode</key>
					<string>501094</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>淮南市</string>
					<key>citycode</key>
					<string>501095</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>马鞍山市</string>
					<key>citycode</key>
					<string>501096</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>淮北市</string>
					<key>citycode</key>
					<string>501097</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>铜陵市</string>
					<key>citycode</key>
					<string>501098</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>安庆市</string>
					<key>citycode</key>
					<string>501099</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黄山市</string>
					<key>citycode</key>
					<string>501100</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>滁州市</string>
					<key>citycode</key>
					<string>501101</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阜阳市</string>
					<key>citycode</key>
					<string>501102</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>界首市</string>
					<key>citycode</key>
					<string>501103</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宿州市</string>
					<key>citycode</key>
					<string>501104</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>巢湖市</string>
					<key>citycode</key>
					<string>501105</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>六安市</string>
					<key>citycode</key>
					<string>501106</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>亳州市</string>
					<key>citycode</key>
					<string>501107</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>池州市</string>
					<key>citycode</key>
					<string>501108</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宣城市</string>
					<key>citycode</key>
					<string>501109</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>福建</string>
			<key>shengcode</key>
			<string>501455</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>福州市</string>
					<key>citycode</key>
					<string>501456</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>厦门市</string>
					<key>citycode</key>
					<string>501457</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>莆田市</string>
					<key>citycode</key>
					<string>501458</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>三明市</string>
					<key>citycode</key>
					<string>501459</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>泉州市</string>
					<key>citycode</key>
					<string>501460</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>漳州市</string>
					<key>citycode</key>
					<string>501461</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>南平市</string>
					<key>citycode</key>
					<string>501462</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>龙岩市</string>
					<key>citycode</key>
					<string>501463</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宁德市</string>
					<key>citycode</key>
					<string>501464</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>江西</string>
			<key>shengcode</key>
			<string>501550</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>南昌市</string>
					<key>citycode</key>
					<string>501551</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>景德镇市</string>
					<key>citycode</key>
					<string>501552</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>萍乡市</string>
					<key>citycode</key>
					<string>501553</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>九江市</string>
					<key>citycode</key>
					<string>501554</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>新余市</string>
					<key>citycode</key>
					<string>501555</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>鹰潭市</string>
					<key>citycode</key>
					<string>501556</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>赣州市</string>
					<key>citycode</key>
					<string>501557</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>吉安市</string>
					<key>citycode</key>
					<string>501558</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>宜春市</string>
					<key>citycode</key>
					<string>501559</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>抚州市</string>
					<key>citycode</key>
					<string>501560</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>上饶市</string>
					<key>citycode</key>
					<string>501561</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>广西</string>
			<key>shengcode</key>
			<string>502091</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>南宁市</string>
					<key>citycode</key>
					<string>502092</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>柳州市</string>
					<key>citycode</key>
					<string>502093</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>桂林市</string>
					<key>citycode</key>
					<string>502094</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>梧州市</string>
					<key>citycode</key>
					<string>502095</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>北海市</string>
					<key>citycode</key>
					<string>502096</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>防城港市</string>
					<key>citycode</key>
					<string>502097</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>钦州市</string>
					<key>citycode</key>
					<string>502098</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>贵港市</string>
					<key>citycode</key>
					<string>502099</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>玉林市</string>
					<key>citycode</key>
					<string>502100</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>百色市</string>
					<key>citycode</key>
					<string>502101</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>贺州市</string>
					<key>citycode</key>
					<string>502102</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>河池市</string>
					<key>citycode</key>
					<string>502103</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>来宾市</string>
					<key>citycode</key>
					<string>502104</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>崇左市</string>
					<key>citycode</key>
					<string>502105</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>重庆</string>
			<key>shengcode</key>
			<string>5</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>重庆</string>
					<key>citycode</key>
					<string>502214</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>海南</string>
			<key>shengcode</key>
			<string>502255</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>海口市</string>
					<key>citycode</key>
					<string>502256</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>三亚市</string>
					<key>citycode</key>
					<string>502257</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>文昌市</string>
					<key>citycode</key>
					<string>502258</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>琼海市</string>
					<key>citycode</key>
					<string>502259</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>万宁市</string>
					<key>citycode</key>
					<string>502260</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>五指山市</string>
					<key>citycode</key>
					<string>502261</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>东方市</string>
					<key>citycode</key>
					<string>502262</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>儋州市</string>
					<key>citycode</key>
					<string>502263</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>临高县</string>
					<key>citycode</key>
					<string>502264</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>澄迈县</string>
					<key>citycode</key>
					<string>502265</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>定安县</string>
					<key>citycode</key>
					<string>502266</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>屯昌县</string>
					<key>citycode</key>
					<string>502267</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>昌江黎族自治县</string>
					<key>citycode</key>
					<string>502268</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>白沙黎族自治县</string>
					<key>citycode</key>
					<string>502269</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>琼中黎族苗族自治县</string>
					<key>citycode</key>
					<string>502270</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>陵水黎族自治县</string>
					<key>citycode</key>
					<string>502271</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>保亭黎族苗族自治县</string>
					<key>citycode</key>
					<string>502272</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>乐东黎族自治县</string>
					<key>citycode</key>
					<string>502273</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>三沙市</string>
					<key>citycode</key>
					<string>502274</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>西藏</string>
			<key>shengcode</key>
			<string>502726</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>拉萨市</string>
					<key>citycode</key>
					<string>502727</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>昌都地区</string>
					<key>citycode</key>
					<string>502728</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>山南地区</string>
					<key>citycode</key>
					<string>502729</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>日喀则地区</string>
					<key>citycode</key>
					<string>502730</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>那曲地区</string>
					<key>citycode</key>
					<string>502731</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阿里地区</string>
					<key>citycode</key>
					<string>502732</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>林芝地区</string>
					<key>citycode</key>
					<string>502733</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>青海</string>
			<key>shengcode</key>
			<string>503027</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>西宁市</string>
					<key>citycode</key>
					<string>503028</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>海东地区</string>
					<key>citycode</key>
					<string>503029</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>海北藏族自治州</string>
					<key>citycode</key>
					<string>503030</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>黄南藏族自治州</string>
					<key>citycode</key>
					<string>503031</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>海南藏族自治州</string>
					<key>citycode</key>
					<string>503032</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>果洛藏族自治州</string>
					<key>citycode</key>
					<string>503033</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>玉树藏族自治州</string>
					<key>citycode</key>
					<string>503034</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>海西蒙古族藏族自治州</string>
					<key>citycode</key>
					<string>503035</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shengname</key>
			<string>新疆</string>
			<key>shengcode</key>
			<string>503109</string>
			<key>cityarr</key>
			<array>
				<dict>
					<key>cityname</key>
					<string>乌鲁木齐市</string>
					<key>citycode</key>
					<string>503110</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>克拉玛依市</string>
					<key>citycode</key>
					<string>503111</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>吐鲁番地区</string>
					<key>citycode</key>
					<string>503112</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>哈密地区</string>
					<key>citycode</key>
					<string>503113</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>和田地区</string>
					<key>citycode</key>
					<string>503114</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阿克苏地区</string>
					<key>citycode</key>
					<string>503115</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>喀什地区</string>
					<key>citycode</key>
					<string>503116</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>克孜勒苏柯尔克孜自治州</string>
					<key>citycode</key>
					<string>503117</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>巴音郭楞蒙古自治州</string>
					<key>citycode</key>
					<string>503118</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>昌吉回族自治州</string>
					<key>citycode</key>
					<string>503119</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>博尔塔拉蒙古自治州</string>
					<key>citycode</key>
					<string>503120</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>伊犁哈萨克自治州</string>
					<key>citycode</key>
					<string>503121</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>塔城地区</string>
					<key>citycode</key>
					<string>503122</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阿勒泰地区</string>
					<key>citycode</key>
					<string>503123</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>石河子市</string>
					<key>citycode</key>
					<string>503124</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>阿拉尔市</string>
					<key>citycode</key>
					<string>503125</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>图木舒克市</string>
					<key>citycode</key>
					<string>503126</string>
				</dict>
				<dict>
					<key>cityname</key>
					<string>五家渠市</string>
					<key>citycode</key>
					<string>503127</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
